/* --------------------------------- Reusable styling */
.center-text {
    text-align: center;
}

/* --------------------------------- Nav styling */
.logo-img {
    width: 200px;
    height: 200px;
}

.dropdown-menu {
    border: 0;
}

.dropdown-item {
    padding: 9px 9px;

}

.dropdownl2 {
    margin-top: 26%!important;
}

@media (max-width: 768px) {
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }
}

/* --------------------------------- Footer styling */
#footer-email {
    display: grid;
    text-align: center;
}